# pandas
pandas >= 1.1.5

# numpy
numpy>=1.17

# progress bars in model download and training scripts
tqdm>=4.27

# pytorch
torch >= 1.8.1

# keras
keras

# scikit-learn
sklearn>=0.21.3

# matplotlib
matplotlib 3.4.1

# seaborn
seaborn>=0.11.1

